#home-page {
  margin: 0 25em;
}

#home-intro {
  margin: 5em 0 1em 0;
}

#home-intro h1 {
  font-family: 'Cabin', sans-serif;
  font-size: 5em;
  font-weight: 700;
  margin: 0.125em 0;
}

.body-text {
  font-family: 'Lora', serif;
  font-size: 1.5em;
  /* font-weight: 400; */
}

#home-conversation a:link {
  color: #d32f2f;
  text-decoration: none;
  cursor: pointer;
}

#home-conversation a:visited {
  color: #0000ee;
  text-decoration: none;
  cursor: pointer;
}

#home-download button {
  background-color: #d32f2f;
  color: #ffffff;
  border: none;
  border-radius: 0.5em;
  font-size: 1.5em;
  padding: 0.25em 0.5em;
  cursor: pointer;
}
